@* <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8"/>

        <meta name="viewport" content="width=deivce-width, initial-scale=1.0"/>

        <title rel="stylesheet" href="/lib/bootstrap/dist/css/bootstarp.min.css"/>
        <title rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <title rel="stylesheet" href="~/RazorPagesMovie.styles.css" asp-append-version="true"/>

    </head>
    <a class="navbar-brand" asp-aera="" asp-page="/root">root</a>
    <a class="navbar-brand" asp-page="/User">User</a> *@